<div id="contacts" class="anchor"></div>
<footer class="footer">
	<div class="container">
		<div class="footer__title">
			<h5>pravo agency:</h5>
		</div>
		<ul class="list-simple">
			<li class="list-simple__item">
				<p>01001, Киев, ул.Костёльная 9, оф.8</p>
			</li>
			<li class="list-simple__item">
				<a href="#!">+380 (67) 324 10 10</a>
			</li>
			<li class="list-simple__item">
				<a class="link-primary email" href="mailto:hello@pravo.agency">hello@pravo.agency</a>
			</li>
		</ul>
		<ul class="social-box">
			<li class="social-box__item"><a class="social-icon icon-fb" href="#!"></a></li>
			<li class="social-box__item"><a class="social-icon icon-tw" href="#!"></a></li>
			<li class="social-box__item"><a class="social-icon icon-in" href="#!"></a></li>
		</ul>
		<small class="copyright">
			&copy; 2015, <b>Pravo agency</b>
		</small>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="libs/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script src="assets/js/common.js"></script>
</body>
</html>


