[class^="icon-"],
[class*=" icon-"]
	&:after
		display: inline-block
		vertical-align: middle
		font-family: 'iconFont'
		-webkit-font-smoothing: antialiased
		font-smoothing: antialiased
		-moz-osx-font-smoothing: grayscale
		text-shadow: 0 0 0 rgba(255, 255, 255, 0)
		speak: none
		font-style: normal
		font-weight: normal
		font-variant: normal
		text-transform: none

.icon-arrow:after
	content: '\eA01'